In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning

### Data Reading & Data Types

In [2]:
#Read the data in pandas
inp0= pd.read_csv("Dress Sales.csv")
inp1= pd.read_csv("Attribute DataSet.csv")

In [3]:
inp1.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [4]:
inp1.Price.dtype

dtype('O')

In [5]:
inp1.Price.info()

<class 'pandas.core.series.Series'>
RangeIndex: 479 entries, 0 to 478
Series name: Price
Non-Null Count  Dtype
--------------  -----
477 non-null    object
dtypes: object(1)
memory usage: 3.9+ KB

In [6]:
inp1.Price.describe()

count         477
unique          5
top       Average
freq          240
Name: Price, dtype: object

In [7]:
inp1.Price.head()

0        Low
1        Low
2       High
3    Average
4        Low
Name: Price, dtype: object

### **Variable Type:**
- **Numerical variable:** Represents quantities and can be measured and ordered (e.g., price, age, height).
- **Categorical variable:** Represents categories or groups.
#### They can be further divided into:
- **Ordinal:** Categorical variables with a meaningful order or ranking (e.g., low, medium, high).
- **Nominal:** Categorical variables without a meaningful order (e.g., colors, names).

You have “Attribute DataSet” which contains a column named “Price”. Choose the correct statement from the following about its data type and variable type.
- Integer type and numerical variable
- Object type and categorical ordinal variable
- Object type and categorical nominal variable
- Float type and categorical variable.

In [8]:
# Ans : Object type and categorical ordinal variable

In [9]:
inp1.Recommendation.describe()

count    479.000000
mean       0.427975
std        0.495302
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Recommendation, dtype: float64

In [10]:
inp1.Recommendation.head()

0    1
1    0
2    0
3    1
4    0
Name: Recommendation, dtype: int64

In [11]:
inp1.Recommendation.info()

<class 'pandas.core.series.Series'>
RangeIndex: 479 entries, 0 to 478
Series name: Recommendation
Non-Null Count  Dtype
--------------  -----
479 non-null    int64
dtypes: int64(1)
memory usage: 3.9 KB

In [12]:
inp1.Recommendation.dtype

dtype('int64')

There is another column in “Attribute DataSet” named as “Recommendation”, choose the correct statement about its data type and variable type.
- Integer type and categorical
- Object type and categorical
- Integer type and continuous numerical
- Object type only.

In [13]:
# Ans : Integer type and categorical

Which of the following column do you think are of no use in “Attribute DataSet”.
- Dress_ID
- Price
- Size and material
- NeckLine
- None of the above

In [14]:
# Ans : None of the above

In [15]:
# Print the information about the attributes of inp0 and inp1.
inp0.info()
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dress_ID    479 non-null    float64
 1   29-08-2013  479 non-null    int64
 2   31-08-2013  479 non-null    int64
 3   09-02-2013  479 non-null    int64
 4   09-04-2013  479 non-null    int64
 5   09-06-2013  479 non-null    int64
 6   09-08-2013  479 non-null    int64
 7   09-10-2013  479 non-null    int64
 8   09-12-2013  479 non-null    object
 9   14-09-2013  479 non-null    object
 10  16-09-2013  479 non-null    object
 11  18-09-2013  479 non-null    object
 12  20-09-2013  479 non-null    object
 13  22-09-2013  479 non-null    object
 14  24-09-2013  479 non-null    int64
 15  26-09-2013  257 non-null    float64
 16  28-09-2013  479 non-null    int64
 17  30-09-2013  222 non-null    float64
 18  10-02-2013  220 non-null    float64
 19  10-04-2013  221 non-null    float64
 20  10-06-2013  479 non-null    int64
 21  10-08-2013  224 non-null    float64
 22  10-10-2013  224 non-null    float64
 23  10-12-2013  479 non-null    int64
dtypes: float64(7), int64(11), object(6)
memory usage: 89.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

### Fixing the Rows and Columns

In [16]:
inp1.Size.value_counts()

Size
M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: count, dtype: int64

In [17]:
rep = {'M': 'Medium','L': 'Large','XL': 'Extra Large','free': 'Free','S': 'Small','s': 'Small','small': 'Small'}

In [18]:
inp1.Size.replace(rep,inplace = True)

In [19]:
inp1.Size.value_counts()

Size
Medium         171
Free           165
Large           93
Small           36
Extra Large     14
Name: count, dtype: int64

In [20]:
inp1.Size.value_counts() / inp1.Size.count() * 100

Size
Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra Large     2.922756
Name: count, dtype: float64

In [21]:
inp1.Size.value_counts(normalize=True) * 100

Size
Medium         35.699374
Free           34.446764
Large          19.415449
Small           7.515658
Extra Large     2.922756
Name: proportion, dtype: float64

As you can see, there is a column in “Attribute Dataset” named as ‘Size’. This column contains the values in abbreviation format. Write a code in Python to convert the followings:

- M into  “Medium”
- L into  “Large”
- XL into “Extra large”
- free into “Free”
- S, s & small into “Small”.

Now once you are done with changes in the dataset, what is the value of the lowest percentage, the highest percentage and the percentage of Small size categories in the column named “Size”?

In [22]:
## 2.9%, 35.7%, 7.5%

### Impute/Remove Missing values

In [23]:
# Print the null count of each variables of inp0 and inp1.
inp1.isnull().sum().sort_values(ascending=False)

FabricType        256
Decoration        224
Material          119
Pattern Type      102
NeckLine            3
Price               2
Season              2
SleeveLength        2
Dress_ID            0
Style               0
Rating              0
Size                0
Recommendation      0
dtype: int64

In [24]:
inp0.isnull().sum().sort_values(ascending=False)

10-02-2013    259
10-04-2013    258
30-09-2013    257
10-10-2013    255
10-08-2013    255
26-09-2013    222
Dress_ID        0
29-08-2013      0
10-06-2013      0
28-09-2013      0
24-09-2013      0
22-09-2013      0
20-09-2013      0
18-09-2013      0
16-09-2013      0
14-09-2013      0
09-12-2013      0
09-10-2013      0
09-08-2013      0
09-06-2013      0
09-04-2013      0
09-02-2013      0
31-08-2013      0
10-12-2013      0
dtype: int64

You are given another dataset named “Dress Sales”. Now if you observe the datatypes of the columns using ‘inp1.info()’ command, you can identify that there are certain columns defined as object data type though they primarily consist of numeric data.

Now if you try and convert these object data type columns into numeric data type(float), you will come across an error message. Try to correct this error.

In [25]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp0.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [26]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.
inp0["14-09-2013"].astype("float")

ValueError: could not convert string to float: 'removed'

In [30]:
rd = {'Removed': np.NaN, 'removed': np.NaN, 'Orders': np.NaN}

In [31]:
x = inp0.select_dtypes(include="object").columns

In [32]:
inp0[x] = inp0[x].replace(rd)

In [33]:
inp0.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013     object
14-09-2013     object
16-09-2013     object
18-09-2013     object
20-09-2013     object
22-09-2013     object
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

In [34]:
inp0[x] = inp0[x].astype("float")

In [35]:
inp0.dtypes

Dress_ID      float64
29-08-2013      int64
31-08-2013      int64
09-02-2013      int64
09-04-2013      int64
09-06-2013      int64
09-08-2013      int64
09-10-2013      int64
09-12-2013    float64
14-09-2013    float64
16-09-2013    float64
18-09-2013    float64
20-09-2013    float64
22-09-2013    float64
24-09-2013      int64
26-09-2013    float64
28-09-2013      int64
30-09-2013    float64
10-02-2013    float64
10-04-2013    float64
10-06-2013      int64
10-08-2013    float64
10-10-2013    float64
10-12-2013      int64
dtype: object

When you see the null counts in “Dress Sales” dataset after performing all the operations that have been mentioned in jupyter notebook, you will find that there are some columns in “Dress Sales” data where there are more than 40% of missing values. Based on your understanding of dealing with missing values do the following steps.

In [36]:
inp0.isnull().sum()

Dress_ID        0
29-08-2013      0
31-08-2013      0
09-02-2013      0
09-04-2013      0
09-06-2013      0
09-08-2013      0
09-10-2013      0
09-12-2013      1
14-09-2013      1
16-09-2013      1
18-09-2013      1
20-09-2013      1
22-09-2013      1
24-09-2013      0
26-09-2013    222
28-09-2013      0
30-09-2013    257
10-02-2013    259
10-04-2013    258
10-06-2013      0
10-08-2013    255
10-10-2013    255
10-12-2013      0
dtype: int64

In [37]:
inp0.count()

Dress_ID      479
29-08-2013    479
31-08-2013    479
09-02-2013    479
09-04-2013    479
09-06-2013    479
09-08-2013    479
09-10-2013    479
09-12-2013    478
14-09-2013    478
16-09-2013    478
18-09-2013    478
20-09-2013    478
22-09-2013    478
24-09-2013    479
26-09-2013    257
28-09-2013    479
30-09-2013    222
10-02-2013    220
10-04-2013    221
10-06-2013    479
10-08-2013    224
10-10-2013    224
10-12-2013    479
dtype: int64

In [38]:
# Print the null percetange of each column of inp1.
(inp0.isnull().sum() / 479 * 100).sort_values(ascending=False)

10-02-2013    54.070981
10-04-2013    53.862213
30-09-2013    53.653445
10-10-2013    53.235908
10-08-2013    53.235908
26-09-2013    46.346555
20-09-2013     0.208768
09-12-2013     0.208768
14-09-2013     0.208768
16-09-2013     0.208768
18-09-2013     0.208768
22-09-2013     0.208768
10-06-2013     0.000000
28-09-2013     0.000000
Dress_ID       0.000000
24-09-2013     0.000000
29-08-2013     0.000000
09-10-2013     0.000000
09-08-2013     0.000000
09-06-2013     0.000000
09-04-2013     0.000000
09-02-2013     0.000000
31-08-2013     0.000000
10-12-2013     0.000000
dtype: float64

In [39]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.
inp0.drop(columns=["10-02-2013","10-04-2013","30-09-2013","10-10-2013","10-08-2013","26-09-2013"],inplace=True)

In [40]:
(inp0.isnull().sum() / 479 * 100).sort_values(ascending=False)

14-09-2013    0.208768
16-09-2013    0.208768
22-09-2013    0.208768
20-09-2013    0.208768
18-09-2013    0.208768
09-12-2013    0.208768
10-06-2013    0.000000
28-09-2013    0.000000
24-09-2013    0.000000
Dress_ID      0.000000
29-08-2013    0.000000
09-10-2013    0.000000
09-08-2013    0.000000
09-06-2013    0.000000
09-04-2013    0.000000
09-02-2013    0.000000
31-08-2013    0.000000
10-12-2013    0.000000
dtype: float64

In [41]:
inp0.columns

Index(['Dress_ID', '29-08-2013', '31-08-2013', '09-02-2013', '09-04-2013',
       '09-06-2013', '09-08-2013', '09-10-2013', '09-12-2013', '14-09-2013',
       '16-09-2013', '18-09-2013', '20-09-2013', '22-09-2013', '24-09-2013',
       '28-09-2013', '10-06-2013', '10-12-2013'],
      dtype='object')

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [42]:
# Create the four seasons columns in inp1, according to the above criteria.
inp0['Summer'] = inp0['09-06-2013'] + inp0['10-06-2013'] + inp0['29-08-2013'] + inp0['31-08-2013'] + inp0['09-08-2013'] 
inp0["Autumn"] = inp0['09-10-2013'] + inp0['14-09-2013'] + inp0['16-09-2013'] + inp0['18-09-2013'] + inp0['20-09-2013'] + inp0['22-09-2013'] + inp0['24-09-2013'] + inp0['28-09-2013']
inp0["Winter"] = inp0['09-02-2013'] + inp0['09-12-2013'] + inp0['10-12-2013']
inp0["Spring"] = inp0['09-04-2013']

In [43]:
inp0.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,20-09-2013,22-09-2013,24-09-2013,28-09-2013,10-06-2013,10-12-2013,Summer,Autumn,Winter,Spring
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,3386.0,3479.0,3554,3706,3897,4048,13899,26857.0,9658.0,2660
1,1.212192e+09,151,275,570,750,813,1066,1164,1558.0,1756.0,...,2106.0,2454.0,2710,3258,3911,4277,6216,17311.0,6405.0,750
2,1.190381e+09,6,7,7,7,8,8,9,10.0,10.0,...,10.0,11.0,11,11,11,11,40,82.0,28.0,7
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,1812.0,1845.0,1878,1914,1952,1963,7213,14411.0,5012.0,1455
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,1824.0,1919.0,2032,2252,2544,2736,7706,14676.0,5678.0,1396

In [44]:
# calculate the sum of sales in each seasons in inp1 i.e. "Dress Sales".
inp0.sum()

Dress_ID      4.321739e+11
29-08-2013    9.488300e+04
31-08-2013    1.004830e+05
09-02-2013    1.070810e+05
09-04-2013    1.436000e+05
09-06-2013    1.459730e+05
09-08-2013    1.516200e+05
09-10-2013    1.533280e+05
09-12-2013    1.596930e+05
14-09-2013    1.627920e+05
16-09-2013    1.653180e+05
18-09-2013    1.678330e+05
20-09-2013    1.723510e+05
22-09-2013    1.764140e+05
24-09-2013    1.786380e+05
28-09-2013    1.866140e+05
10-06-2013    1.989480e+05
10-12-2013    2.079090e+05
Summer        6.919070e+05
Autumn        1.353543e+06
Winter        4.736400e+05
Spring        1.436000e+05
dtype: float64

In [45]:
# Spring 143600

Now let's merge inp1 with inp0 with left join manner, so that the information of inp0 should remain intact.

In [46]:
inp1.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [47]:
# Merge inp0 with inp1 into inp0. this is also called left merge.
inp0 = pd.merge(left=inp0,right=inp1, how='left', left_on='Dress_ID', right_on='Dress_ID')
inp0.head()

,Dress_ID,29-08-2013,31-08-2013,09-02-2013,09-04-2013,09-06-2013,09-08-2013,09-10-2013,09-12-2013,14-09-2013,...,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1.006033e+09,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,4.6,Medium,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1.212192e+09,151,275,570,750,813,1066,1164,1558.0,1756.0,...,0.0,Large,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1.190381e+09,6,7,7,7,8,8,9,10.0,10.0,...,0.0,Large,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,9.660060e+08,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,4.6,Large,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,8.763395e+08,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,4.5,Medium,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [48]:
inp0.isnull().sum().sort_values(ascending= False)

FabricType        256
Decoration        224
Material          119
Pattern Type      102
NeckLine            3
SleeveLength        2
Autumn              2
Price               2
Season              2
16-09-2013          1
20-09-2013          1
22-09-2013          1
Winter              1
18-09-2013          1
14-09-2013          1
09-12-2013          1
Spring              0
Size                0
Rating              0
Style               0
Dress_ID            0
10-12-2013          0
Summer              0
29-08-2013          0
10-06-2013          0
28-09-2013          0
24-09-2013          0
09-10-2013          0
09-08-2013          0
09-06-2013          0
09-04-2013          0
09-02-2013          0
31-08-2013          0
Recommendation      0
dtype: int64

In [49]:
# Now Drop the Date columns from inp0 as it is already combined into four seasons.
inp0.drop(inp0.loc[:,'29-08-2013':'10-12-2013'].columns, axis= 1, inplace= True)
inp0.isnull().sum().sort_values(ascending=False)

FabricType        256
Decoration        224
Material          119
Pattern Type      102
NeckLine            3
SleeveLength        2
Autumn              2
Price               2
Season              2
Winter              1
Dress_ID            0
Size                0
Summer              0
Rating              0
Style               0
Spring              0
Recommendation      0
dtype: int64

Print the null count of inp0 to get the idea about the missing values in data set.

In [50]:
# Print the null count of each columns in inp0 dataframe i.e. combined data frame of inp0 and inp1 without date columns.

You can see that there are two types of variables one with a large number of missing values and another is very less number of missing values. These two columns can be categorized as:

Type-1: Missing values are very less (around 2 or 3 missing values): Price, Season, NeckLine, SleeveLength, Winter and Autumn. 

Type-2: Missing values are large in numbers (more than 15%): Material, FabricType, Decoration and Pattern Type.

In [52]:
# Deal with the missing values of Type-1 columns: Price, Season, NeckLine, SleeveLength, Winter and Autumn.
inp0 = inp0[-inp0.Price.isnull()]

inp0 = inp0[-inp0.Season.isnull()]

inp0 = inp0[-inp0.NeckLine.isnull()]

inp0 = inp0[-inp0.SleeveLength.isnull()]

inp0 = inp0[-inp0.Winter.isnull()]

inp0 = inp0[-inp0.Autumn.isnull()]

In [53]:
inp0.isnull().sum().sort_values(ascending=False)

FabricType        250
Decoration        220
Material          116
Pattern Type       98
Dress_ID            0
Season              0
SleeveLength        0
NeckLine            0
Size                0
Summer              0
Rating              0
Price               0
Style               0
Spring              0
Winter              0
Autumn              0
Recommendation      0
dtype: int64

In [54]:
# Deal with the missing values for Type-2 columns: Material, FabricType, Decoration and Pattern Type.
inp0.Material= inp0.Material.replace(np.nan, "Missing")

inp0.FabricType= inp0.FabricType.replace(np.nan, "Missing")

inp0.Decoration= inp0.Decoration.replace(np.nan, "Missing")

inp0['Pattern Type']= inp0['Pattern Type'].replace(np.nan, "Missing")

In [55]:
inp0.isnull().sum().sort_values(ascending=False)

Dress_ID          0
Season            0
Pattern Type      0
Decoration        0
FabricType        0
Material          0
SleeveLength      0
NeckLine          0
Size              0
Summer            0
Rating            0
Price             0
Style             0
Spring            0
Winter            0
Autumn            0
Recommendation    0
dtype: int64

### Standardise value

In the given dataset, there are certain discrepancies with the categorical names such as irregular spellings. Choose the correct option of columns with irregular categories and update them.
 
- Season, NeckLine
- Price, Material
- fabricType, Decoration
- Season, SleeveLength

In [64]:
inp0.SleeveLength.value_counts()

SleeveLength
sleevless         213
short              92
full               91
halfsleeve         32
threequarter       17
thressqatar         8
sleeveless          4
capsleeves          3
sleeevless          2
cap-sleeves         2
urndowncollor       1
half                1
turndowncollor      1
threequater         1
Petal               1
butterfly           1
sleveless           1
Name: count, dtype: int64

In [65]:
inp0.SleeveLength= inp0.SleeveLength.replace(['cap-sleeves', 'capsleeves'], "cap sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace('full', "full sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['half','halfsleeve'], "half sleeves")

inp0.SleeveLength= inp0.SleeveLength.replace(['sleevless', 'sleeevless', 'sleeveless', 'sleveless'], "sleeve less")

inp0.SleeveLength= inp0.SleeveLength.replace(['threequarter','threequater', 'thressqatar'], "three quater")

inp0.SleeveLength= inp0.SleeveLength.replace(['turndowncollor','urndowncollor'], "turn down collar")

In [63]:
#correcting the spellings.

inp0.Season= inp0.Season.replace('Automn', "Autumn")

inp0.Season= inp0.Season.replace('spring', "Spring")

inp0.Season= inp0.Season.replace('winter', "Winter")

## Univariate Analysis

### Categorical Unordered Univariate Analysis

There is a column named ‘Style’ in ‘Attribute Dataset’ which consists of the different style categories of the women apparels. Certain categories whose total sale is less than 50000 across all the seasons is considered under one single category as ‘Others’.

Which of the following categories in ‘Style’ column can be grouped into ‘Others’ category? and perform the grouping operation in the notebook for further analysis.
- Flare, fashion
- Novelty, bohemian
- OL, fashion, work
- Novelty, fashion, Flare

In [2]:
# Group "Style" categories into "Others" which have less than 50000 sales across all the seasons.

What is the percentage of “cute” and “Others” category in “Style” column in “Attribute DataSet” respectively?
- 46%, 5%
- 9%, 2.1%
- 2.1%, 5%
- 13.8%, 9%

In [ ]:
# Calculate the percentage of each categories in the "Style" variable.

Similarly Club Neckline, SLeeve length categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Neckline" categories into "Others" which have less than 50000 sales across all the seasons.

In [ ]:
# Group "Sleeve length" categories into "Others" which have less than 50000 sales across all the seasons.

Club material, fabrictype, patterntype and decoration categories into "Others" which have less than 25000 sales across all the seasons

In [ ]:
# Group "material" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "fabric type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "patern type" categories into "Others" which have less than 25000 sales across all the seasons.

In [ ]:
# Group "decoration" categories into "Others" which have less than 25000 sales across all the seasons.

### Caregorical Ordered Univariate Analysis

Which of the following is an unordered variable in “Attribute DataSet”.
- Style
- Price
- Season
- Size

### Numerical variable Univariate analysis:

What is the approximate difference between the maximum value and 75th percentile in “Autumn” column.
- Approx 54000
- Approx 55000
- Approx 52000
- Approx 50000

In [ ]:
# Describe the numerical variale: "Autumn".

In [ ]:
# plot the boxplot of "Autumn" column.

Which of the following season has the highest difference between the maximum value and 99th quantile of sales?
- Winter
- Summer
- Spring
- Autumn

In [ ]:
# Find the maximum and 99th percentile of Winter season.

In [ ]:
# Find the maximum and 99th percentile of Summer season.

In [ ]:
# Find the maximum and 99th percentile of Spring season.

In [ ]:
# Find the maximum and 99th percentile of Autumn season.

## Bivariate Analysis

### Numerical- Categorical analysis

Which of the following “Price” category has the lowest average value of rating?
- very-high
- Medium
- Low
- High

In [ ]:
# Find the Mean of Ratings for each Price category.

What is the median of the rating of “vintage” category in Style column?
- 4.6
- 4.7
- 4.55
- 0.00

In [ ]:
# Find the median of Ratings for each Style category.

Which of the following season has the highest average value of sale for “Recommendation” value equals to 1.
- Summer
- Spring
- Autumn
- Winter

In [ ]:
# Summer sale vs Recommendation.

In [ ]:
# Spring sale vs Recommendation.

In [ ]:
# Autumn sale vs Recommendation.

In [ ]:
# Winter sale vs Recommendation.

### Categorical categorical bivariate analysis

Which of the following size categories has the highest positive recommendations?
- Medium and extra large
- Extra large and small
- Free and small
- Free and medium

In [ ]:
# Size vs Recommendation.

### Multivariate analysis

Which of the following pair of “Style” and “Price” category has the highest average of positive recommendations?
- Price: medium and style: vintage
- Price: medium and style: cute
- Price: very high and style: party
- Price: low and style: sexy

In [ ]:
# plot the heat map of Style, price and Recommendation.

Which of the following material type has no recommendation in summer and winter seasons?
- Mix and Milksilk
- Nylon and Rayon
- Microfiber and Silk
- Milksilk and Microfiber

In [ ]:
# plot the heat map of Season, material and Recommendation.